hr {
  margin: 30px 0;
}

/* ------%1-------кнопка с выездом.
смысл---- span ходит за курсором
---------------------- */

#btn-slide {
  margin: 20px auto 50px;
}

#btn-slide a {
  text-decoration: none;
  line-height: 80px;
  color: black;
  position: relative;
}

.btn-6 {
  position: relative;
  display: block;
  overflow: hidden;
  width: 200px;
  height: 80px;
  text-transform: uppercase;
  color: #9b41a6;
  background-color: #a0ff41;
  transition: all 0.4s ease-in-out;
  text-align: center;
  margin: 0 auto;
}

.btn-6 span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 70%;
  background-color: #6474ff;
  -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}
.btn-6:hover {
  color: #e2c7e5;
  background-color: transparent;
}
.btn-6:hover span {
  width: 500%;
  height: 250%;
}
.btn-6:active {
  background-color: #891f96;
}
/* ---------%2---------подключение инстаграмма------------------------------------ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  padding: 40px;
}

h2 {
  margin-bottom: 20px;
}

.instagram-images {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -15px -30px -15px;
  margin-bottom: 50px;
  max-height: 500px;
  overflow: hidden;
}
.instagram-images__item {
  max-width: 300px;
  padding: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  margin-bottom: 30px;
  max-height: 500px;
}
.instagram-images__item-image {
  position: relative;
}
.instagram-images__item-image img {
  vertical-align: top;
  width: 100%;
  height: auto;
}
.instagram-images__item-image-absolute {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  left: 0;
  right: 0;
}
.instagram-images__item-like {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
}
.instagram-images__item-like svg {
  width: 16px;
  margin-right: 10px;
  height: 16px;
}
.instagram-images__item-title {
  font-family: "Poppins", arial, sans-serif;
  text-align: center;
  padding: 10px 0;
}
.instagram-images__item-title {
  text-decoration: none;
  text-align: center;
  padding: 10px 10px;
  color: tomato;
  display: block;
}

/* ----№4--- демонстрация удобного блока поверх блока -если не задавать высоту и ширину он станет размером с блок.  ----------- */

.test-wrap {
  width: 50%;
  height: 100px;
  background: red;
  position: relative;
  margin: 50px 0 150px;
}
.test {
position: absolute;
width: 50%;
/* height: 50%; */
/* top: 50%;
left: 50%;*/
transform: translate( 50%, 50%); 
background: #0DBFE2; 
top: 0;
left: 0;
right: 0;
bottom: 0;
}
.test2 {
position: absolute;
width: 50%;
/* height: 50%; */
/* top: 50%;
left: 50%;*/
transform: translate( 80%, 30%); 
background: blue; 
top: 0;
left: 0;
right: 0;
bottom: 0;
}

/* ----------№5 блок выезжает по ховеру на другой блок. можно этому блоку задать k.st свойства даже через js / например заставить его распологаться в нужном месте независимо от расположения родителя.-------------- */

.sliding-wrap {
   width: 50%;
  height: 300px;
  background: green;
  position: relative;
  margin: 2% 0 0 50%;
}

.sliding {
position: absolute;
width: 50%;
height: 50%;
top: 50%;
left: 50%;
transform: translate( -100vw, 20%) rotate(360deg) ; 
/* transition: opacity 2s, transform 0.5s ease; */
background: #0DBFE2; 
top: 0;
left: 0;
right: 0;
bottom: 0;
opacity: 0;
}

/* ---------#6 счетчик spincrement------------ */
.content-text {
	width:700px;
	margin:0 auto;
}
.int-fact-counters {
	background:#f1f1f1;
	padding:20px 0;
}
.int-fct-item {
	width:22%;
	display:inline-block;
	text-align:center;
}
.fct-count {
	font-size:40px;
}

/* ------------------ */
#Caramba{
font-size: 20px;
font-weight: bold;
background-color: #4e3710;
color: green;
width: 30%;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
text-transform: uppercase;
padding: 0 20px;
}
/* ------------------------------------- */

.col-6{
  height: 50px;
    background-color: #9FFF0F;

}

/* ---------------------------------------- */
